.card {
	background-color: #333;
	border: none;
	border-radius: 0.5rem;
	transition: background-color 0.2s ease-in-out;
}

.card:hover {
	background-color: #444;
}

.card-body {
	padding: 0.5rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card-body img {
	margin-right: 0.5rem;
}
.stat-container {
	justify-content: right;
	display: flex;
	flex-direction: row;
	vertical-align: middle;
}
.ns {
	display: flex !important;
	flex-direction: row;
	align-items: center;
	color: white !important;
	margin-right: 2vw;
	vertical-align: middle;
}
.stat-item-img {
	max-height: 32px;
}
.more-button {
	max-height: 10%;
}
